<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
  <!--Variables that user can change-->
    <!--Defult Ip address application will try to connect to-->
    <add key="Ip" value="localhost"/>
    <!--Defult username application will try to use, no spaces-->
    <add key="DefName" value="Kitakami"/>
    <!--Port to connect to, Defult is 4242-->
    <add key="port" value="4242"/>
  </appSettings>
</configuration>